.mainContent header h1{
    font-size: 3rem;
    padding: 0;
    margin: 0;
}
  .smallScreenHeader{
     display: block;
     display: flex;
     align-items: center;
     gap: 15px;
     padding-left: 10px;
     margin-bottom: 20px;
     margin-top: 10px;
}
.smallScreenHeader .first,.second,.third,.fourth{
      margin-top: 0;
      margin-bottom: 0;
      color: grey;
}
.fourth{
      font-weight: 700;
      color: black;
}
.divUnderHeader{
    display: flex;
    justify-content: space-between;
    margin-top: 0;
    height: fit-content;
}
.one{
    width: auto;
    /* align-items: center; */
    gap: 15px;
    margin: 0;
    display: flex;
    justify-content: space-between;
}
.one span{
    display: flex;
    /* align-items: center; */
    height: fit-content;
    margin: 0;
}
.wod{
    font-weight: 700;
    font-size: 1rem;
    margin: 0;
    display: flex;
    height: fit-content;
}
.randomNumber{
  margin: 0;
  padding: 0;
  height: fit-content;
}
.openingTime,.location{
  margin: 0;
}
.stars{
    display: flex;
    /* align-items: center; */
    padding-top: 6px;
    padding-left:3px ;
    margin: 0;

}
.two{
    display: flex;
    width: fit-content;
    padding-right: 20px;
    height: fit-content;
    justify-content: space-between;
    gap: 10px;
}

.two div{
    border: 1px solid grey;
    padding: 5px;
    width: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
}

.two div:hover{
    background-color: rgb(206, 203, 203);
}

@media(max-width:734px){
    .smallScreenHeader{
     display: none;
    }
   }
   

@media(max-width:490px){
   .smallScreenHeader .first,.second,.third,.fourth{
      margin-top: 0;
      margin-bottom: 0;
      font-size: 0.8rem;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      color: grey;
   }   
   .fourth{
      font-weight: 700;
      color: black;
   }
 }


@media(max-width:734px){
    .mainContent{
        display: none;
    }
}
