
.App{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}






























































    @media(max-width:734px){
     .smallScreenHeader{
      display: none;
     }
    }
    

 @media(max-width:490px){
    .smallScreenHeader .first,.second,.third,.fourth{
       margin-top: 0;
       margin-bottom: 0;
       font-size: 0.8rem;
       font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
       color: grey;
    }   
    .fourth{
       font-weight: 700;
       color: black;
    }
  }
