@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@700&display=swap');

.container{
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
    box-sizing: border-box;
    border-bottom: 1px solid rgb(216, 216, 216);
}





.logo {
  font-family: "Lobster", cursive; 
  font-size: 2.5rem; 
  font-weight: 700;
  background: linear-gradient(90deg, rgb(131, 107, 107), rgb(66, 34, 34));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; /* Gradient effect */
  letter-spacing: 2px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  display: inline-block;
  position: relative;
}

/* Thicker underline effect */
.logo::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 4px;
  background: linear-gradient(90deg, black, grey);
  bottom: -8px;
  left: 50%;
  transform: translateX(-50%);
  transition: width 0.4s ease-in-out;
  border-radius: 2px;
}

.logo:hover {
  transform: scale(1.08);
}

.logo:hover::after {
  width: 100%;
}


.formContainer {
    height: 45px;
    width: auto;
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 60px;
    margin: 5px 0 5px 0;
    background-color:white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    border: none;
}

/* 09134145872 */

.formContainer span {
    display: flex;
    align-items: center;
    justify-content: center;
    height:auto;
    border: none;
    border-top-left-radius: 1px;
    border-top-right-radius: 1px;
    border-bottom-right-radius: 1px;
    border-bottom-left-radius: 1px;
    background-color:white;
    padding: 4px;
    border-radius: 60px;
    border: none;

}

.formContainer span input{
    width: 150px;
    height:100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    background-color:white;
    font-size: 0.8rem;
    padding-left: 15px;
}

.formContainer span input:focus {
    border: none;
    outline: none; 
}

.formContainer span input::placeholder{
   color: black;
}

.formContainer span:nth-of-type(2) {
    border-left: 1px solid gray;
}
.formContainer span:nth-of-type(3) {
    border-left: 1px solid gray;

}
.formContainer span:nth-of-type(4) {
    border-left: 1px solid gray;

} 


/* .formContainer span:hover{
    background-color: rgb(235, 230, 230);
}
.formContainer span input:hover{
    background-color: rgb(235, 230, 230);
}
.formContainer span:nth-of-type(5):hover{
    background-color:white;
} */


.formContainer span button{
    height: 30px;
    padding: 2px;
    border: none;
    width: 10cqh;
    background-color: black;
    border-radius: 30px;
    color: white;
    display: none;
    border-right: 1px solid gray;
}

.formContainer span button:hover{
    font-weight: 700;
    border: 1px solid gray;
}


.calendarDropDown {
    position: absolute;
    top: 9%; 
    right: 30%;
    z-index: 10;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    opacity: 0; 
    transform: translateY(-10px); 
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out, visibility 0s 0.3s;
  }




 @media(max-width:1219px){
   .calendarDropDown{
    right: 25%;
   }
 }
  .treatmentDropDown{
    position: absolute;
    top: 8%; 
    left: 20%;
    z-index: 10;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    opacity: 0; 
    transform: translateY(-10px); 
    visibility: hidden; 
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out, visibility 0s 0.3s;
  }  

  .locationDropDown{
    position: absolute;
    top: 8%; 
    left: 40%;
    z-index: 10;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    opacity: 0; 
    transform: translateY(-10px); 
    visibility: hidden; 
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out, visibility 0s 0.3s;
  }  
  
  .timedropdown{
    position: absolute;
    top: 8%; 
    right: 28%;
    z-index: 10;
    height: 90px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transform: translateY(-10px); 
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out, visibility 0s 0.3s;
  }  

 .timedropdown.show, .locationDropDown.show,.treatmentDropDown.show,.calendarDropDown.show{
    opacity: 1; 
    transform: translateY(0); 
    visibility: visible; 
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out, visibility 0s 0s; 
  }

  .headerButtons{
    display: none;
    margin: 0;
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding-top: 5px;

}

.buttonTwo{
    padding: 7px;
    width: 90px;
    border-radius: 20px;
    margin: 0;
    font-size: 0.9rem;
    background-color: white;
    font-weight: 700;
    display: flex;
    gap: 8px;
    cursor: pointer;
    align-items: center;
    border: 1px solid grey;
    border: 1px solid rgb(192, 191, 191);
    height: 50px;
}

.firstLetter{
  padding: 5px;
  height: 25px;
  width: 25px;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #ff7eb3, #1b243b); 
  border: 1px solid rgb(245, 242, 242);
  border-radius: 50%;
}

.firstLetter:hover{
  background: linear-gradient(135deg, #ff7eb3, #4a5266); 
  color: white;
}

.IoMdMenu{
    cursor: pointer;
}

.dropdownMenu {
  position: absolute;
  top: 9%;
  right: 1%;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 250px;
  list-style: none;
  padding: 0.5rem 10px;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  opacity: 0; 
  height: auto;
  z-index: 2;
  transform: translateY(-10px); 
  visibility: hidden; 
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out, visibility 0s 0.3s; 
}

@media(max-width:1667px){
  .dropdownMenu{
    right: 5%;
  }
}
.dropdownMenu.show {
  opacity: 1; 
  transform: translateY(0); 
  visibility: visible; 
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out, visibility 0s 0s; 
}

.dropdownMenu li {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 0.7rem 1rem;
    cursor: pointer;
    height: 50px;
    font-size: 1rem;
  }
  

.dropdownMenu li:hover {
  background-color: #f0f0f0;
}
.backButton:hover {
    background-color: rgb(248, 245, 245);
    border: 1px solid grey;
  }
.smallScreenHeader{
    display: none;
}

@media(max-width:1095px){
    .formContainer span input{
        width: 110px;
    }
    
}
@media(max-width:1181px){
   .locationDropDown{
    right: 32%;
   }
}

@media(max-width:896px){
    .formContainer span input{
        width: 100px;
   }
   
}
@media(max-width:854px){
    .formContainer span input{
        width: 90px;
   }
   
}

@media(max-width:814px){
    .formContainer span input{
        width: 80px;
   }
   
}
@media(max-width:773px){
    .formContainer span input{
        width: 70px;
   }
   
}


@media(max-widht:1397px){
    .timedropdown{   
    right: 10%;
    }
  }  
 @media(max-widht:1397px){
    .timedropdown{   
    right: 0;
  }  
}
 

@media(max-width:734px){
    /* .logo,.formContainer,.headerButtons{
        display: none;
    } */
    .container{
        border-bottom: none;
    }
    .calendarDropDown{
        display: none;
    }
    .treatmentDropDown{
        display: none;
    }
    .locationDropDown{
        display: none;
    }
    .timedropdown{
        display: none;
    }
    .dropdownMenu{
        display: none;
    }
}


.backButton {
    display: none;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: #d6d8db;
  }