@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@700&display=swap');

.container {
  padding: 10px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  z-index: 100;
  width: 80vw;
  margin: 0 auto;
  background: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}


.logo {
  font-family: "Lobster", cursive; 
  font-size: 2.5rem;
  font-weight: 700;
  background: linear-gradient(90deg, rgb(131, 107, 107), rgb(66, 34, 34));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 2px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  display: inline-block;
  position: relative;
}

.logo::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 4px;
  background: linear-gradient(90deg, black, grey);
  bottom: -8px;
  left: 50%;
  transform: translateX(-50%);
  transition: width 0.4s ease-in-out;
  border-radius: 2px;
}

.logo:hover {
  transform: scale(1.08);
}

.logo:hover::after {
  width: 100%;
}


.headerButtons {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-top: 5px;
  padding-right: 20px;
}

.buttonOne, .buttonTwo {
  border: 1px solid gray;
  background-color: white;
  font-weight: 700;
  border-radius: 20px;
  cursor: pointer;
  color: black;
  font-size: 0.9rem;
  padding: 15px;
}

.buttonOne:hover, .buttonTwo:hover {
  background-color: rgb(238, 237, 237);
}

.buttonTwo {
  display: flex;
  align-items: center;
  gap: 8px;
  width: fit-content;
  height: 50px;
  padding: 7px;
}

.firstLetter {
  height: 25px;
  width: 25px;
  font-size: 1rem;
  display: flex;
  align-items: center;
  color: #ebedee;
  justify-content: center;
  background: linear-gradient(90deg, rgb(22, 22, 22), grey);

  /* background: linear-gradient(135deg, #ff7eb3, #1b243b); */
  border: 1px solid rgb(245, 242, 242);
  border-radius: 50%;
  padding: 5px;
}

.firstLetter:hover {
  background: linear-gradient(135deg, #ff7eb3, #4a5266);
  color: white;
}

.IoMdMenu {
  display: none;
  cursor: pointer;
}

.dropdownMenu {
  position: absolute;
  top: 110%;
  right: 3%;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 250px;
  list-style: none;
  padding: 0.5rem 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
  opacity: 0;
  transform: translateY(-10px);
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out, visibility 0s 0.3s;
}

.dropdownMenu.show {
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.dropdownMenu li {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 0.7rem 1rem;
  cursor: pointer;
  height: 50px;
  font-size: 1rem;
}

.dropdownMenu li:hover {
  background-color: #f0f0f0;
  width: 85%;
}

.backButton {
  display: none;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  background-color: #d6d8db;
}

.backButton:hover {
  background-color: rgb(248, 245, 245);
  border: 1px solid grey;
}


@media (max-width: 1081px) {
  .container {
      padding: 10px;
  }
}

@media (max-width: 1016px) {
  .IoMdMenu {
      display: block !important;
  }
  /* .buttonTwo {
      display: none;
  } */
}

@media (max-width: 772px) {
  .buttonOne {
      display: none;
  }
}

@media (max-width: 646px) {
  .dropdownMenu {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background-color: white;
      display: flex;
      gap: 30px;
      padding: 20px;
      justify-content: center;
  }
  .dropdownMenu li{
    width: 85%;
  }
  .backButton {
      position: absolute;
      top: 20px;
      left: 20px;
      font-size: 1.2rem;
      font-weight: bold;
      display: block;
  }
}

@media (max-width: 1742px) {
  .container {
      width: 83vw;
  }
}

@media (max-width: 1673px) {
  .container {
      width: 92vw;
  }
}

@media (max-width: 1560px) {
  .container {
      width: 96vw;
  }
}

@media (max-width: 1433px) {
  .container {
      width: 97vw;
  }
}

@media (max-width: 1086px) {
  .container {
      width: 93vw;
  }
}

@media (max-width: 600px) {
  .container {
      width: 93vw;
  }
}

@media (max-width: 414px) {
   .logo{
    font-size: 1.7rem;
   }
}