.container{
    background-color: white;
    border: 1px solid rgb(227, 224, 224);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 90px;

}
.imageDiv{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid rgb(227, 224, 224);
}
.imageDiv p{
    font-weight: 700;
    line-height: 2;
    margin: 0;
    margin-top: 5px;
}
.container .span {
    width: 80px;  
    height: 80px;  
    background: linear-gradient(135deg, #ff7eb3, #1b243b); 
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 2rem;
    border-radius: 50%; 
    transition: all 0.3s ease-in-out;
}

.container .span:hover {
    transform: scale(1.1);  
    background: linear-gradient(135deg, #e6b8c0, #ff7eb3); 
    box-shadow: 0 4px 15px rgba(255, 117, 140, 0.5); 
}

.detailsDiv{
    padding: 20px;
    gap: flex;
    flex-direction: column;
}
.detailsDiv span{
    margin: 0;
}
.detailsDiv span h3{
    margin: 0;
}
.detailsDiv span p{
    font-weight: 500;
    color: rgb(120, 119, 119);
}

 @media(max-width:942px){
    .container{
      width: 400px;
      height: auto;
    }
} 

@media(max-width:942px){
   .mainContainer h2{
    display: none;
   }
   .container{
    background-color: whitesmoke;
}
}
 @media(max-width:390px){
    .container{
      width: 370px;
      margin-top: 40px;
    }
} 