.container {
 /* overflow-y: scroll; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.appointmentButtonDivs {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.appointmentButtonDivs button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  background-color: lightgray;
  transition: background-color 0.3s ease;
}
.selectServiceButton{
  border: 1px solid grey;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  transition: all 0.3s ease-in-out;
  margin-left: 0;
  border-radius: 20px;
}
.selectServiceButton button {
  border: none;
  font-weight: 900;
  background-color: white;
  cursor: pointer;
}
.selectServiceButton:hover {
  background-color: #f0f0f0;
  transform: translateY(-5px);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.selectServiceButton:hover button {
  font-size: 0.8em;
}
.appointmentButtonDivs button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}





.teamContainer {
  
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  padding: 5px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 80%;
}

.teamContainer h1 {
  font-weight: 900;
  text-align: center;
}

.teamContainer span {
  flex-wrap: wrap;
  display: flex;
  max-height: 720px;
  overflow-y: auto;
  width: 100%;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.teamContainer span div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 150px;
  margin: 20px;
  border: 1px solid rgb(209, 207, 207);
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.06);

  opacity: 0;
  transform: translateY(20px);
  transition: all 0.4s ease-in;
  animation: fadeInEase 0.4s forwards;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

}
.teamContainer span div:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  background-color: #f9f9f9;
}
/* .teamContainer {
  padding: 2rem;
  font-size: 1.25rem;
  max-width: 80%;
  margin: 0 auto;
} */

@keyframes fadeInEase {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.teamContainer span div:active {
  border: 2px solid purple;
}

.teamMember {
  cursor: pointer;
  padding: 10px;
  transition: background-color 0.3s ease;
}

.teamMember.active {
  border: 2px solid purple;
  background-color: #f3f0ff;
}

.teamContainer span div p:nth-child(4) {
  display: flex;
  flex-direction: column-reverse;
}

.teamContainer span::-webkit-scrollbar {
  display: none;
}

.firstLetter {
  width: 40px;
  padding: 30px;
  height: 40px;
  font-size: 1.9rem;
  font-weight: 700;
  display: flex;
  color: white;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: rgba(23, 44, 68, 0.247);
  position: relative;
  transition: background-color 0.3s ease, color 0.3s ease, opacity 0.3s ease;
}

.firstLetter:hover {
  background-color: rgb(205, 206, 207);
  color: black;
}

.firstLetter,
.role,
.name,
.randomNumber {
  margin: 0;
}

.randomNumber {
  border: 1px solid rgb(155, 152, 152);
  position: relative;
  bottom: 20px;
  width: 50px;
  left: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  background-color: white;
}

.name {
  font-weight: 700;
  color: black;
  font-size: 1rem;
}
.role{
  font-weight: 500;
  color: grey;
  font-size: 1rem;
}
.workerName {
  font-size: 2rem;
  font-weight: 700;
  margin: 0;
  text-align: center;
  border-bottom: 1px solid grey;
}

.bookNow {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  height: 650px;
  max-width: 900px;
  position: relative;
  margin-top: 60px;
  border: 1px solid rgb(219, 217, 217);

}

.reviewBooking {
  color: black;
  margin: 0;
  
}

.one {
  padding: 10px;
  display: flex;
  gap: 10px;
  align-items: center;
  margin-top: 10px;
}

.one img {
  width: 100px;
  height: 80px;
  border-radius: 10px;
}

.bookName {
  font-weight: 700;
  font-size: 1.3rem;
  margin: 0;
}

.one div p {
  margin: 0;
}

.span {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 150px;
}

.starTag {
  display: flex;
  align-items: center;
}

.two {
  margin-top: 30px;
  display: flex;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border-bottom: 1px solid rgb(216, 212, 212);
  padding: 10px;
  justify-content: space-between;
  transition: opacity 0.3s ease, transform 0.3s ease;
  opacity: 0;
  transform: translateY(15px);
  animation: fadeInTwo 0.5s ease-in forwards;
}

@keyframes fadeInTwo {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.spanOne p {
  margin: 0;
  font-weight: 500;
  color: grey;
  
}

.spanTwo p {
  font-weight: 700;
}

.three {
  display: flex;
  justify-content: space-between;
  height: fit-content;

}

.three p {
  font-weight: 700;
  color: black;
  padding: 10px;
}

.continueButton {
  background-color: black;
  color: white;
  font-weight: 900;
  width: 90%;
  border-radius: 10px;
  height: 50px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  margin-top: 10px;
  text-align: center;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.continueButton:hover {
  transform: translateX(-50%) translateY(-3px);
}

.twoContainer {
  height: 61%;
  max-height: 600px;
  overflow-y: scroll;
}

.twoContainer::-webkit-scrollbar {
  display: none;
}














@media (max-width: 1048px) {
  .teamContainer span {
    width: 100%;
  }
}

@media (max-width: 1000px) {
  .teamContainer {
    width: 99%;
    padding: 0;
  }
}

@media (max-width: 800px) {
  .container {
    width: 95%;
  }

  .teamContainer span {
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
  }

  .teamContainer span div {
    width: 30%;
    min-width: 120px;
  }

  .firstLetter {
    width: 30px;
    height: 30px;
    font-size: 1.5rem;
  }

  .teamContainer {
    width: 99%;
    padding: 0;
  }

  .teamContainer h1 {
    font-size: 1.2rem;
  }
  .bookNow{
    margin-right: 20px;
    width: 96%;
    margin-top: 10px;
  }
  .appointmentButtonDivs{
    margin-right: 20px;
  }
  .appointmentButtonDivs button {
   width:40px;
   height: 40px;
  }
}


.bookNow{
  max-width: 500px;
}


.hidden {
  display: none;
}

/* 
.successPopup {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: black;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 1rem;
  z-index: 1000;
  opacity: 0;
  font-weight: 700;
  transform: translateY(-20px); 
  animation: slideIn 0.5s ease-out forwards;
} */


.successPopup {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: black;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 1rem;
  z-index: 1000;
  opacity: 0;
  font-weight: 700;
  transform: translateY(-20px);
  animation: easeInOut 4s cubic-bezier(0.42, 0, 0.58, 1) forwards;
}

@keyframes easeInOut {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  40% {
    opacity: 1;
    transform: translateY(0);
  }
  80% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}



.continueButton:disabled {
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}

.disabledButton {
  opacity: 0.5;
}



.loader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  width: fit-content;
  height: fit-content;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.boxOne, .boxTwo, .boxThree {
  width: 1px;
  height: 115px;
  border: 1px solid grey;
  background-color: transparent;
  box-sizing: border-box;
}


.boxOne {
  animation: box1animation 4s  forwards ease-in-out infinite;
}

@keyframes box1animation {
  0% {
    width: 1px;
  }

  12.5% {
    width: 60px;
  }

  25% {
    width: 60px;
  }

  37.5% {
    width: 1px;
  }

  50% {
    width: 1px;
  }

  62.5% {
    width: 1px;
  }

  75% {
    width: 1px;
  }

  100% {
    width: 1px;
  }
}

.boxTwo {
  animation: box2animation 4s forwards ease-in-out infinite;
}

@keyframes box2animation {
  0% {
    width: 1px;
  }

  12.5% {
    width: 1px;
  }

  25% {
    width: 1px;
  }

  37.5% {
    width: 60px;
  }

  50% {
    width: 60px;
  }

  62.5% {
    width: 1px;
  }

  75% {
    width: 1px;
  }

  100% {
    width: 1px;
  }
}

.boxThree {
  animation: box3animation 4s  forwards ease-in-out infinite;
}

@keyframes box3animation {
  0% {
    width: 1px;
  }

  12.5% {
    width: 1px;
  }

  25% {
    width: 1px;
  }

  37.5% {
    width: 1px;
  }

  50% {
    width: 1px;
  }

  62.5% {
    width: 60px;
  }

  75% {
    width: 60px;
  }

  100% {
    width: 1px;
  }
}



@media (max-width: 700px) {
   .successPopup{
    font-size: 1rem;
    font-weight: 500;
    margin-left: 15px;
   }
}


@media (max-width: 1195px) {
  .teamContainer {
    font-size: 1.1rem;
    max-width: 90%;
  }
  
  /* .firstLetter {
    font-size: 3.5rem;
  } */
}

@media (max-width: 768px) {
  .teamContainer {
    font-size: 1rem;
    padding: 1.5rem;
  }

  .firstLetter {
    font-size: 1.5rem;
  }
}
.selectServiceButton{
  margin-top: 20px;
}

@media (max-width: 600px) {
  .bookName {
    font-weight: 700;
    font-size: 1rem;
    margin: 0;
  }
  
  
  .container {
    padding: 0;
  }

  .teamContainer {
    font-size: 0.9rem;
    padding: 1rem;
    width: 100%;
  }

  .teamContainer span {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    gap: 0.4rem;
  }

  .teamContainer span div {
    flex: 0 0 calc(30% - 0.5rem); 
    box-sizing: border-box;
  }

  .firstLetter {
    font-size: 1rem;
  }
  .bookNow{
    margin: 0 auto;
    height: 800px;
    width: 380px;
  }
 
}


@media (max-width: 576px) {
  .container {
    padding: 0;
    width: 100%;
  }

  .teamContainer {
    font-size: 0.9rem;
    padding: 1rem;
    width: 100%;
  }

  .teamContainer span {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    gap: 0.4rem;
  }

  .appointmentButtonDivs{
    margin: 0 auto;
    padding-left: 3px;
    padding-top: 8px;
  }
  .teamContainer span div {
    flex: 0 0 calc(40% - 0.5rem); 
    box-sizing: border-box;
  }
}

@media (max-width: 390px) and (max-width:393px)  {
  .bookName {
    font-weight: 700;
    font-size: 1rem;
    margin: 0;
  }
  .container {
    padding: 0;
  }
  .teamContainer span {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    gap: 0.4rem;
  }
  .firstLetter {
    font-size: 1rem;
  }
  .bookNow{
    margin: 0 auto;
    height: 800px;
    width: 350px;
  }
 
 .teamContainer{
  padding: 0;
  max-width: 100%;
  margin-top: 0;
 }
 .teamContainer span{
  justify-content: space-around;

 }
 .teamContainer span div {
  flex: 0 0 calc(40% - 0.5rem); 
  box-sizing: border-box;
}


}
@media (max-width: 430px)  {
  .bookName {
    font-weight: 700;
    font-size: 1rem;
    margin: 0;
  }
  .container {
    padding: 0;
  }
  .teamContainer span {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    gap: 0.4rem;
  }
  .firstLetter {
    font-size: 1rem;
  }
  .bookNow{
    margin: 0 auto;
    height: 800px;
    width: 350px;
  }
 
 .teamContainer{
  padding: 0;
  max-width: 100%;
  margin-top: 0;
 }
 .teamContainer span{
  justify-content: space-around;

 }
 .teamContainer span div {
  flex: 0 0 calc(40% - 0.5rem); 
  box-sizing: border-box;
}






/*Review booking*/

.bookNow {
  padding: 10px;
  border-radius: 10px;
  height: 550px;
  max-width: 900px;
  position: relative;
  margin-top: 20px;
  border: 1px solid rgb(219, 217, 217);

}

.bookName {
  font-weight: 700;
  font-size: 0.8rem;
  margin: 0;
}


.spanOne p {
  margin: 0;
  font-weight: 500;
  color: grey;
  
}
span{
  font-size: 0.8rem;
}
.spanTwo p {
  font-weight: 700;
}

















}

@media (max-width: 376px) {
  .bookName {
    font-weight: 700;
    font-size: 1rem;
    margin: 0;
  }
  
  
  .container {
    padding: 0;
  }

  .teamContainer {
    font-size: 0.9rem;
    padding: 1rem;
    width: 100%;
  }

  .teamContainer span {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    gap: 0.4rem;
  }

  .teamContainer span div {
    flex: 0 0 calc(30% - 0.5rem); 
    box-sizing: border-box;
  }

  .firstLetter {
    font-size: 1rem;
  }
  .bookNow{
    margin: 0 auto;
    height: 88vh;
    width: 323px;
  }
 
}