.container{
    padding: 20px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 100% !important;
    margin: 0 auto;
    box-sizing: border-box;
    overflow-x: hidden;
    margin-top: 70px;
}

.bigFont{
    color: black;
    font-size: 6rem;
    width: 900px;
    line-height: 0.8;
}
.formContainer{
    height: 60px;
    border-radius: 40px;
    width: auto;
    padding: 2px;
    border: 6px solid  rgb(235, 230, 230);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.formContainer span {
    display: flex;
    align-items: center;
    justify-content: center;
    height:90%;
    border: none;
    border-top-left-radius: 40px;
    padding: 4px;
    border-bottom-left-radius: 40px;
}
.formContainer span input{
    height:90%;
    border-top-left-radius: 40px;
    padding: 4px;
    border: none;
    border-right: 1px solid gray;
    border-bottom-left-radius: 40px;
}
.formContainer span input:focus {
    border: none;
    outline: none; 
}

.formContainer span:nth-of-type(2) {
    border-top-left-radius: 1px;
    border-bottom-left-radius: 1px;
}
.formContainer span:nth-of-type(3) {
    border-top-left-radius: 1px;
    border-bottom-left-radius: 1px;
}
.formContainer span:nth-of-type(4) {
    border-top-left-radius: 1px;
    border-bottom-left-radius: 1px;
} 


.formContainer span:hover{
    background-color: rgb(235, 230, 230);
}
.formContainer span input:hover{
    background-color: rgb(235, 230, 230);
}


.formContainer span:nth-of-type(5):hover{
    background-color:white;
}


.formContainer span button{
    height: 60px;
    padding: 5px;
    border: none;
    width: 14cqh;
    background-color: black;
    border-radius: 30px;
    color: white;
    border-right: 1px solid gray;
}


.formContainer span button:hover{
 
    font-weight: 700;
    border: 1px solid gray;
}

.qrCodeButton{
    padding: 20px;
    border: 1px solid gray;
    background-color: white;
    color: black;
    display: flex;
    align-items: center;
    gap: 5px;
    border-radius: 40px;
    cursor: pointer;
}
.qrCodeButton:hover{
    background-color: rgb(235, 230, 230);
}
/* .dateInputWrapper {
    position: relative;
  } */


.calendarDropDown {
    position: absolute;
    top: 55%; 
    z-index: 10;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    opacity: 0; 
    transform: translateY(-10px); 
    visibility: hidden; 
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out, visibility 0s 0.3s; /* Delayed visibility to sync with opacity */
  }

 
  .treatmentDropDown{
    position: absolute;
    top: 53%; 
    z-index: 10;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    opacity: 0; /* Initially hidden */
    transform: translateY(-10px); /* Slightly above the final position */
    visibility: hidden; /* Hidden but not blocking interactions */
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out, visibility 0s 0.3s; /* Delayed visibility to sync with opacity */
  }  

  .locationDropDown{
    position: absolute;
    top: 55%; 
    z-index: 10;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    opacity: 0; 
    transform: translateY(-10px); 
    visibility: hidden; 
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out, visibility 0s 0.3s; 
  }  
  
  .timedropdown{
    position: absolute;
    top: 54%; 
    z-index: 10;
    height: 90px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    opacity: 0; 
    transform: translateY(-10px); 
    visibility: hidden; 
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out, visibility 0s 0.3s; 
  }  
  .timedropdown.show, .locationDropDown.show,.treatmentDropDown.show,.calendarDropDown.show{
    opacity: 1;
    transform: translateY(0);
    visibility: visible; 
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out, visibility 0s 0s; 
  }

@media(max-width:1021px){
    .container{
        text-align: center;
    }
    .formContainer{
        max-width: 650px;
        border: 2px solid black;
        flex-direction: column;
        height: auto;
        gap: 5px;
        padding: 20px;
        border-radius: 30px;
    }
    .bigFont{
        font-size: 35px;
        font-weight: 900;
    }
    .formContainer span {
        width: 600px;
        border: 1px solid rgb(224, 221, 221);
        border-radius: none;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        padding-left: 20px;
        display: flex;
        gap: 10px;
        align-items: center;
        justify-content: center;
    }
    .formContainer span input {
        width: 600px;
        border: none;
        height: 50px;
        border-top-left-radius: 0;
        font-weight: 700;
        border-bottom-left-radius: 0;
    }
    .formContainer span:nth-of-type(2) {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
    .formContainer span:nth-of-type(3) {
        border-top-left-radius: 1px;
        border-bottom-left-radius: 1px;
    }
    .formContainer span:nth-of-type(4) {
        border-top-left-radius: 1px;
        border-bottom-left-radius: 1px;
    }
    .formContainer span:nth-of-type(5) {
        border-top-left-radius: 1px;
        border-bottom-left-radius: 1px;
        border: none;
    }
    .formContainer span button{
        height: 60px;
        padding: 5px;
        border: none;
        width: 100%;
        background-color: black;
        border-radius: 10px;
        color: white;
        border-right: 1px solid gray;
        margin: 0 ;
        padding: 0;
        border-right:none;
        margin-right: 15px;
    }

}
   
@media(max-width:771px){
    .container{
        text-align: center;
        gap: 10px;
    }
    .formContainer{
       width: 80%;
    }
    .bigFont{
        margin-right: 20px;
        margin-top: 2px;
        font-size: 2.6rem;
        text-align: start;
        font-weight: 900;
        width: 99%;
        line-height: 1;
    }
    .formContainer span {
        width: 100%;
        border: 1px solid rgb(224, 221, 221);
        border-radius: none;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        padding-left: 20px;
        display: flex;
        gap: 10px;
    }
    .formContainer span input {
        width: 600px;
        border: none;
        height: 50px;
        border-top-left-radius: 0;
        font-weight: 700;
        border-bottom-left-radius: 0;
    }
    .formContainer span:nth-of-type(2) {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
    .formContainer span:nth-of-type(3) {
        border-top-left-radius: 1px;
        border-bottom-left-radius: 1px;
    }
    .formContainer span:nth-of-type(4) {
        border-top-left-radius: 1px;
        border-bottom-left-radius: 1px;
    }
    .formContainer span:nth-of-type(5) {
        border-top-left-radius: 1px;
        border-bottom-left-radius: 1px;
        border: none;
    }
    .formContainer span button{
        height: 60px;
        padding: 5px;
        border: none;
        width: 100%;
        background-color: black;
        border-radius: 10px;
        color: white;
        border-right: 1px solid gray;
        transition: width 0.3s ease-in-out; 
    }
    .formContainer span button:active{
        width: 82%;
    }
}

@media(max-width:593px){
    .formContainer{
        width: 95%;
     }
     .bigFont{
        font-size: 2rem;
     }
}