
:root {
  font-family: 'RoobertPRO', 'AktivGroteskVF', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: black;
  background-color: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  
}
html{
  background-color: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}
body {
  /* font-family: var(--font-family); */
  font-weight: var(--font-weight);
  font-family: 'EB Garamond', serif;

  color: var(--text-color);
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;

}
body::-webkit-scrollbar {
  display: none; 
}

.app{
  width: 80vw;
  margin: 0 auto;
  overflow-x: hidden;
  padding-bottom: 30px;
}


@media(max-width:1742px){
  .app{
    width: 83vw;
  }
}
@media(max-width:1673px){
  .app{
    width: 92vw;
  }
}
@media(max-width:1560px){
  .app{
    width: 96vw;
  }
}
@media(max-width:1433px){
  .app{
    width: 97vw;
  }
}
@media(max-width:1086px){
  .app{
    width: 95vw;
  }
}
@media(max-width:600px){
  .app{
    width: 97vw;
  }
}

