
:root {
  font-family: 'RoobertPRO', 'AktivGroteskVF', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: black;
  background-color: #fff;
  
}

body {
  /* font-family: var(--font-family); */
  font-weight: var(--font-weight);
  font-family: 'EB Garamond', serif;

  color: var(--text-color);
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app{
  width: 75vw;
  margin: 0 auto;
}


@media(max-width:1742px){
  .app{
    width: 83vw;
  }
}
@media(max-width:1673px){
  .app{
    width: 92vw;
  }
}
@media(max-width:1560px){
  .app{
    width: 96vw;
  }
}
@media(max-width:1433px){
  .app{
    width: 99vw;
  }
}
@media(max-width:600px){
  .app{
    width: 99vw;
  }
}

